name: Generate Release
'on':
  workflow_dispatch:
    inputs: 
      tag: 
        description: 'Release tag (ie. "v2.0.0")'
        required: true
        default: ''
        type: string
      tag_major: 
        description: 'Release tag major (ie. "v2")'
        required: false
        default: ''
        type: string
      pre_release:
        description: 'Is Pre Release'
        required: true
        default: false
        type: boolean
      
        
run-name: Generate Release - ${{ inputs.tag }}

permissions:
  contents: write

jobs:
  generate_release: 
    runs-on: ubuntu-latest  
    steps: 
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: npm install
        run: |
          npm install
      - name: Generate build
        run: | 
          npm run build
      - name: Setup git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      - name: Checkout temporary branch
        run: |
          git checkout -b release-tagging-branch
          git add -A lib/ -f
          git add -A dist/ -f
          git commit -am "Release ${{ inputs.tag }}"
      - name: Create tag
        run: | 
          git tag ${{ inputs.tag }}
      - name: Create generic
        if: ${{ inputs.pre_release == false && inputs.tag_major != '' }}
        run: | 
          git tag --delete ${{ inputs.tag_major }}
          git tag ${{ inputs.tag_major }}
      - name: Push tag
        run: | 
          git push origin tag ${{ inputs.tag }}
      - name: Push major tag
        if: ${{ inputs.pre_release == false && inputs.tag_major != '' }}
        run: | 
          git push origin tag ${{ inputs.tag_major }} --force
      - name: Create Release
        if: ${{ inputs.pre_release == false }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ inputs.tag }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$tag" \
              --generate-notes
      - name: Create Pre Release
        if: ${{ inputs.pre_release == true }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ inputs.tag }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$tag" \
              --generate-notes
              --prerelease
          